<!DOCTYPE html>
<html>
  <head>
    <title>Blog List</title>
    <link rel="stylesheet" href="/stylesheets/bulma/bulma.css" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>

  <body>
    <% include ../partials/navbar %>
    <div class="section">
      <div class="container">
        <h1 class="title is-1">Blog List</h1>
        <p class="subtitle is-3">Read 'em all!</p>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="columns is-multiline">
          <% blogs.forEach(function(blog) { %>
          <div class="column is-one-quarter">
            <div class="card">
              <a href="/blogs/<%= blog._id %>">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img
                          src="<%= blog.author.avatar %>"
                          alt="Profile avatar"
                        />
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-4"><%= blog.author.name %></p>
                      <p class="subtitle is-6"><%= blog.author.handle %></p>
                    </div>
                  </div>

                  <h3 class="title is-3"><%= blog.title %></h3>
                  <div class="content">
                    <p><%= blog.content.substring(0, 125) %>...</p>

                    <p>
                      <% blog.tags.forEach(function(tag) { %>
                      <a href="#">#<%= tag %></a>
                      <% }); %>
                    </p>

                    <p>
                      <b>Created</b>
                      <time><%= blog.createdOn %></time>

                      <% if (blog.createdOn !== blog.lastEditedOn) { %>
                      <br />
                      <b>Edited</b>
                      <time><%= blog.lastEditedOn %></time>
                      <% } %>
                    </p>
                  </div>
                </div>

                <footer class="card-footer">
                  <a href="/blogs/<%= blog._id %>/edit" class="card-footer-item"
                    >Edit</a
                  >
                  <a
                    href="/blogs/<%= blog._id %>/delete"
                    class="card-footer-item"
                    >Delete</a
                  >
                </footer>
              </a>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
  </body>
</html>
